[Unit]
Description=Ultimate Fish opposed Rook/Ghost action-conditioned exact resume v1
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
Environment=AWS_DEFAULT_REGION=us-west-2
ExecStart=/usr/bin/bash /mnt/ultimatefish/ultimatefish-resume-krookkghost-action-conditioned-v1.sh
WorkingDirectory=/mnt/ultimatefish
AllowedCPUs=4
MemoryMax=64G
TimeoutStartSec=infinity
StandardOutput=append:/mnt/ultimatefish/ultimatefish-info-krookkghost-action-conditioned-v1.service.log
StandardError=append:/mnt/ultimatefish/ultimatefish-info-krookkghost-action-conditioned-v1.service.log

[Install]
WantedBy=multi-user.target
